{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="{% static 'Images/favicon.ico' %}" type="image/gif" sizes="16x16">
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet" type="text/css"/>
      {% block title %}<title>E-Learning Platform</title>
    {% endblock title %}
           <style>
       {% block css %} {% endblock %}
  </style>
  </head>
<body>
<!--  Navbar starts here-->
<nav class="navbar navbar-expand-xl py-3 navbar-light text-dark" style="background-color: #e3f2fd;">
 <a href="/webb"><img src="{% static 'Images/favicon.ico' %}" alt="E Learn"></a>
    <a class="navbar-brand" href="/webb"><strong>E-Learn</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/webb">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'listcourse' %}">Courses</a>
      </li>

<!--        Authenticating a user    -->
        {% if user.is_authenticated %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'mycourses' %}">My Courses</a>
      </li>
        <a class="btn btn-outline-info mr-2" href="{% url 'logout' %}" role="button">Logout</a>
        <a class="nav-link active font-weight-bold" >Hello,  {{user.username}}</a>

         {% else %}
        <a class="btn btn-outline-info mr-2" href="{% url 'register' %}" role="button">Sign Up</a>
        <a class="btn btn-outline-info ml-1" href="{% url 'login' %}" role="button">LogIn</a>
        {% endif %}
    </ul>

    <form method='get' action='/webb/search/' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
        sagittis lacus vel augue laoreet rutrum faucibus.">
        Cart(<span id="cart">0</span>)
    </button>
 </div>
</nav>


<!--navbar ends here-->
{% block body %}

<!--Contactc message alert-->

<!--    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>-->
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.js"-->
<!--  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="-->
<!--  crossorigin="anonymous"></script>-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->



<!-- Footer -->
 <script>{% block js %} {% endblock %}</script>

  </body>
</html>




<!--   <div class="dropdown">-->
<!--<button class="btn btn-secondary dropdown-toggle ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    Login-->
<!--  </button>-->

<!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--    <a class="dropdown-item " href="{% url 'login' %}">As a Student</a>-->
<!--    <a class="dropdown-item " href="{% url 'login' %}">As a Teacher</a>-->
<!--  </div>-->
<!--</div>-->