<!--<footer class="footer-14398 mt-5"  style="background-color: #e3f2fd;">-->
<!--<div class="container ml-0 m-3">-->
<!--<div class="row mb-5">-->
<!--<div class="col-md-3">-->
<!--<a href="#" class="footer-site-logo">My Website</a>-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p>-->
<!--</div>-->
<!--<div class="col-md-2 ml-auto">-->
<!--<h3>Shop</h3>-->
<!--<ul class="list-unstyled links">-->
<!--<li><a href="#">Sell online</a></li>-->
<!--<li><a href="#">Features</a></li>-->
<!--<li><a href="#">Examples</a></li>-->
<!--<li><a href="#">Website editors</a></li>-->
<!--<li><a href="#">Online retail</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-2 ml-auto">-->
<!--<h3>Press</h3>-->
<!--<ul class="list-unstyled links">-->
<!--<li><a href="#">Events</a></li>-->
<!--<li><a href="#">News</a></li>-->
<!--<li><a href="#">Awards</a></li>-->
<!--<li><a href="#">Testimonials</a></li>-->
<!--<li><a href="#">Online retail</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-2 ml-auto">-->
<!--<h3>About</h3>-->
<!--<ul class="list-unstyled links">-->
<!--<li><a href="#">Contact</a></li>-->
<!--<li><a href="#">Services</a></li>-->
<!--<li><a href="#">Team</a></li>-->
<!--<li><a href="#">Career</a></li>-->
<!--<li><a href="#">Contacts</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row mb-4">-->
<!--<div class="col-12 pb-4">-->
<!--<div class="line"></div>-->
<!--</div>-->
<!--<div class="col-md-6 text-md-left">-->
<!--<ul class="list-unstyled link-menu nav-left">-->
<!--<li><a href="#">Privacy Policy</a></li>-->
<!--<li><a href="#">Terms &amp; Conditions</a></li>-->
<!--<li><a href="#">Code of Conduct</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-6 text-md-right">-->
<!--<ul class="list-unstyled social nav-right">-->
<!--<li><a href="#"><span class="icon-twitter"></span></a></li>-->
<!--<li><a href="#"><span class="icon-instagram"></span></a></li>-->
<!--<li><a href="#"><span class="icon-facebook"></span></a></li>-->
<!--<li><a href="#"><span class="icon-pinterest"></span></a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-7">-->
<!--<p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, fuga. Ex at maxime eum odio quibusdam pariatur expedita explicabo harum! Consectetur ducimus delectus nemo, totam odit!</small></p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
<!--<script src="js/popper.min.js+bootstrap.min.js.pagespeed.jc.DK2bnSVnzE.js"></script><script>eval(mod_pagespeed_2NedJ2Aw_a);</script>-->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
